<div class="highlight-code">
    <pre class="example microlight" style="display: block; overflow-x: auto; padding: 0.5em; background: rgb(51, 51, 51); color: white">
      <code class="language-json" style="white-space: pre;">
        <span>'C'</span>
        <span>  </span><span class="hljs-attr">"serverStack"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{serverStack}}</span><span>,
        </span><span>  </span><span class="hljs-attr">"infoMessage"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{infoMessage}}</span><span>,
        </span><span>  </span><span class="hljs-attr">"errorMessage"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{errorMessage}}</span><span>,
        </span><span>  </span><span class="hljs-attr">"message"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{message}}</span><span>,
        </span><span>  </span><span class="hljs-attr">"status"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{status}}</span><span>,
        </span><span>  </span><span class="hljs-attr">"object"</span><span>: '['
        </span>    'C'
        <span>      </span><span class="hljs-attr">"paynumber"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{paynumber}}</span><span>,
        </span><span>      </span><span class="hljs-attr">"status"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{status_pay}}</span><span>,
        </span><span>      </span><span class="hljs-attr">"actualPickupDate"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{actualPickupDate}}</span><span>,
        </span><span>      </span><span class="hljs-attr">"actualDeliveryDate"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{actualDeliveryDate}}</span><span>,
        </span><span>      </span><span class="hljs-attr">"originCity"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{originCity}}</span><span>,
        </span><span>      </span><span class="hljs-attr">"destinationCity"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{destinationCity}}</span><span>,
        </span><span>      </span><span class="hljs-attr">"searchCriteria"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{searchCriteria}}</span><span>,
        </span><span>      </span><span class="hljs-attr">"trackingComments"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{trackingComments}}</span><span>,'['
        </span>        'C'
        <span>          </span><span class="hljs-attr">"comment"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{comment_object}}</span><span>,
        </span><span>          </span><span class="hljs-attr">"user"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{user_object}}</span><span>,
        </span><span>          </span><span class="hljs-attr">"timestamp"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{timestamp_object}}</span><span>,
        </span><span>          </span><span class="hljs-attr">"dateTime"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{dateTime_object}}</span><span>
        </span>        '}'
              ']'
            '}'
          '],'
        <span>  </span><span class="hljs-attr">"items"</span><span>: '['
        </span>    'C'
        <span>      </span><span class="hljs-attr">"paynumber"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{paynumber_items}}</span><span>,
        </span><span>      </span><span class="hljs-attr">"status"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{status_items}}</span><span>,
        </span><span>      </span><span class="hljs-attr">"actualPickupDate"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{actualPickupDate_items}}</span><span>,
        </span><span>      </span><span class="hljs-attr">"actualDeliveryDate"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{actualDeliveryDate_items}}</span><span>,
        </span><span>      </span><span class="hljs-attr">"originCity"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{originCity_items}}</span><span>,
        </span><span>      </span><span class="hljs-attr">"destinationCity"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{destinationCity_items}}</span><span>,
        </span><span>      </span><span class="hljs-attr">"searchCriteria"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{searchCriteria_items}}</span><span>,
        </span><span>      </span><span class="hljs-attr">"trackingComments"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{trackingComments_items}}</span><span>,'['
        </span>        'C'
        <span>          </span><span class="hljs-attr">"comment"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{comment_items}}</span><span>,
        </span><span>          </span><span class="hljs-attr">"user"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{user_items}}</span><span>,
        </span><span>          </span><span class="hljs-attr">"timestamp"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{timestamp_items}}</span><span>,
        </span><span>          </span><span class="hljs-attr">"dateTime"</span><span>: </span><span style="color: rgb(162, 252, 162);">{{dateTime_items}}</span><span>
        </span>        '}'
              ']'
            '}'
          ']'
        '}'
      </code>
</pre>
</div>